.center-text { text-align: center; }

.margin-bottom-small { margin-bottom: 1rem; }
.margin-bottom-medium { margin-bottom: 3rem; }
.margin-bottom-big { margin-bottom: 6rem; }
.margin-bottom-huge { margin-top: 9rem; }


.margin-top-small { margin-top: 1rem; }
.margin-top-medium { margin-top: 3rem; }
.margin-top-big { margin-top: 6rem; }
.margin-top-huge { margin-top: 9rem; }
